/* CSS used here will be applied after bootstrap.css */

body{ margin-top:20px; font-family: Roboto,sans-serif; background-color: #f4fff4; padding: 0 4px}
.user-logged-in { position: absolute; top:7px; right:26px; }
.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 8px; }
a.list-group-item.read { color: #222; background-color: #f3f7f3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.ad { padding: 5px; background: #F5F5F5; color: #222; font-size: 80%; border: 1px solid #E5E5E5; }
.ad a.title {color: #15C; text-decoration: none; font-weight: bold; font-size: 110%;}
.ad a.url {color: #093; text-decoration: none;}
.unread-mail { font-weight: 900 !important }
.read-mail { font-weight: normal !important }
.current-course-list a { color: #0fa229 }
.current-course-list>a>.pull-right { box-shadow: 0 0 0 6px white; }
.has-badge { font-weight: 900 }
.active-course a { background-color: #bfecc7; }
/*.active>a>.pull-right { #box-shadow: 0 0 0 7px #337ab7; }*/
/*.nav-pills>li.active>a>.badge { #margin-right: -12px; }*/
.main-mail-section { background-color: #FFF; margin-top:-10px; padding-top:10px }
.sentmailbox-indicator { cursor: alias; border: 1px dotted #c4dcc4 }
.tab-content { margin: -10px -24px 0 -15px }
.list-group-item { border:0; border-bottom: 1px solid #ddd; margin-bottom:0; border-left: 4px solid transparent;  }
a.list-group-item:focus, a.list-group-item:hover { border-left: 4px dotted #c6e8c6; background-color: #f6fff6 }
.list-group-item.active>.badge, .nav-pills>.active>a>.badge { color: white; background-color: #767676; }
.nav-pills>li>a { padding: 5px 10px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { color: inherit; background-color: inherit; font-weight: 900 }
.nav-pills>li>a>.badge { position: absolute; margin-left: -30px; top: 6px; }
.nav>li>a:focus, .nav>li>a:hover { background-color: #d3f5d9; }
.active-course a:focus, .active-course a:hover { background-color:#baffc6 !important; }
.breadcrumbsed { color: #929292; font-size: 16px; position: absolute; top:-40px; left:8px }
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 9px;
    margin-left: 9px;
}
.dropdown-menu a.active {  background: darkgreen; color: white; }
.inbox-section { width: 82px !important }
.section-inbox { background-color:#bfecc7 !important }
.btn-group .text-muted { margin:4px 10px 0; display: inline-block; }
.search-area { margin: 22px 0 0}
.paginated { margin: 7px 0 0}
.main-mail-section { background: white url(https://www.wosc.edu/img/seal651.png) no-repeat center center; border-left: 1px solid #efefef; }
.tab-content .badge { background: transparent; color: inherit; font-weight: inherit }
.nav .badge { z-index: 999; position: absolute; top: 6px; left: -23px; background-color: #006300; }
.nav .badge div { text-align:center }
.name, .section, .subject { width: 122px; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: -5px; }
.section { width: 60px; border-radius: 8px; background-color: aquamarine; padding: 2px 6px 2px 10px; font-weight: 500; margin-right:15px }
.s22222 { background-color: #51D2FF }
.subject { width: 52%; #width: 415px }
span.fas.fa-paperclip { font-size: 18px; margin: 4px; }
.date { width: 55px; margin: 6px 12px 6px -5px; }
.pagination li.active span { background-color: #0c7b1f; border-color:#ccc }
.pagination li.active span:hover { background-color: #0c7b1f; border-color:#ccc }
.pagination li a { color: darkgreen }
.pag-txt { background-color: #0b740b !important; color:white !important; border-left:0 !important; border-right:0 !important; }
.pag-txt input { width:30px !important; height:20px !important; text-align: center; color: black !important}
#search-mail { padding: 0 32px; }
#search-icon { position: absolute;z-index: 99;margin: 10px; }
#search-mail-clear, #search-mail-go { background-color:#f7f7f7; border: 1px solid #ccc }
#search-mail-clear:hover { background-color:#dbb3b3; color:#bf4844}
#search-mail-go:hover { background-color: #cdf5b7 }

/*  REPLY VIEW */
.reply-section-subject { font-weight: 900; font-size: 18px; padding: 10px 12px 6px; }
#id_content { width:98% !important; height: 50px; border-radius: 8px; padding:4px 12px }
input#id_subject { width:80%; border-radius: 8px; padding:6px 12px }
.mail-content { padding: 25px 30px; min-height: 80px; margin: -23px 20px -22px 13px; background: #fafdfa; background: rgba(250, 253, 250, 0.45);  border: 1px solid #f7f7f7; font-size: 16px }
.cke_editable {  }
.nav-stacked>li+li {
    overflow: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    #margin-right: -15px;
}
/*.nav-stacked>li+li:last-child {*/
    /*overflow: inherit;*/
    /*text-overflow: inherit;*/
    /*white-space: inherit;*/
    /*margin-bottom: 25px;*/
/*}*/
.nav-stacked>li {
    overflow: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-pills .pull-right {
    font-size: 11px;
}
.nav-pills .pull-right {
    position: absolute;
    right: 5px;
    bottom: 6px;
}
/* COMPOSE SECTION*/
.compose-section-subject { font-weight: 900; font-size: 14px; padding: 0 12px 12px; margin-top: -4px}
.compose-section-subject .fa-clipboard-list { padding:0 6px 0 20px }
.compose-section-subject .fa-users { padding:0 0 0 14px }
.compose-section-subject .fa-comments { padding:0 3px 0 14px }
#id_course_list, #id_sendto, .compose_inputs { width:48%; border-radius: 8px; padding:6px 12px; font-size:14px; }
#id_sendto { height: 4em; }
.compose-section-subject .fas { font-size: 24px }
.compose #id_content { width:98% !important; height: 80px }
.cke, .cke_top, .cke_inner, .cke_bottom, .cke_wysiwyg { border-radius: 8px; }
select#id_sendto option { font-size: 20px; overflow: hidden !important; height: auto !important; }
/*select#id_sendto option:first-of-type { font-size: 18px; }*/

/* OUTBOX SECTION */
.micons {
    color: darkgreen;
    float: left;
    font-size: 18px;
    margin: 4px 7px 0 -6px;
    padding-right: 4px;
}
.read-ICON, .read-ICON:hover { color:#b39657 !important }
.unread-ICON, .unread-ICON:hover { color:darkgreen !important }
.sent-ICON, .sent-ICON:hover { color:green !important }

.red { background-color:indianred }
.blue { background-color:cornflowerblue }
green { background-color:aquamarine }
a {
    color: #005600;
    border-bottom: 1px dotted #777;
}

a.admin {
    color: #F89797 !important;
}

a.admin:hover {
    color: red !important;
}

a.user {
    color: gold !important;
}

a.user:hover {
    color: yellow !important;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.footable-sorted, .footable-sorted-desc {
    color: #7B7272;
    border-bottom: 1px dotted #6B6B6B;
    text-shadow: 2px 2px 0 white !important;
}

.footable.breakpoint > tbody > tr > td > span.footable-toggle {
    font-size: 20px !important;
    margin-top: -5px;
    #padding-right: 2px !important;
    #float: right;
    padding-right: 12px !important;
}

tr.hover {
    cursor: pointer;
    background-color: #3ff
}

.version {
    text-align: center;
    font-size: 12px;
    color:#777;
    margin: 30px auto;
    padding:20px;
    width:35%;
    border:1px dotted #ddd;
    border-radius:40px
}
.developer {
    text-align: center;
    font-size: 12px !important;
    color:#777;
    margin: 30px auto;
    padding:30px;
    width:40%;
    border:1px dotted #ddd
}
.searchBox { width: 60%; float: right; margin-top: -1px; padding-top: 1px; }



@media (max-width: 410px) and (max-width: 767px) {
    .subject { width: 17% }
    .cke_editable { padding-bottom: 50% }
}

@media (max-width: 500px) and (max-width: 767px) {
    .logo-col { margin-top:22px }
}

@media (max-width: 767px) {
    .refresh { display:none }
    input:not[type="checkbox"], select { width:90%; }
    ul.nav.nav-pills.nav-stacked {
        width: 100%;
        margin-bottom: 40px !important;
    }
    .search-area a.btn { margin: -8px 0 10px; }
    .subject { width: 35% }
    .searchBox { width: 100% !important; }
    .name { max-width: 20%; }
    .tab-content { border-top: 1px solid #1cb71c; }
    .tab-content .badge { #float:none }
    .breadcrumbsed { position:unset; float: right;  margin: -90px -9px 0 0; }
    .activities {
        margin: -10px auto 35px !important
    }
    div.row:first-of-type > img {
        max-width: 536px;
        width: 100% !important;
    }
    .supervisor-text:after {
        content: "Supervisor"
    }
    .developer {
        width: 100%
    }
    .version {
        width:65%
    }
}


@media (min-width: 768px) and (max-width: 996px) {
    /*div.row:first-of-type {*/
        /*width: 76% !important;*/
    /*}*/
    .subject { width: 25% }
    input#id_subject { width:80%; }
    .activities {
        margin: -10px auto 35px !important
    }
    .searchBox { width: 50% !important; }
    .searchReply { width: 100% !important; }
    .search-area-reply a.btn { margin: -8px 0 10px; }
    .supervisor-text:after {
        content: "Supervisor"
    }
}

@media (min-width: 997px) and (max-width: 1199px) {
    /*div.row:first-of-type {*/
        /*width: 60% !important;*/
    /*}*/
    .searchBox { width: 55% !important; }
    .searchReply { width: 40% !important; }
}

@media (min-width: 1200px) and (max-width: 1379px) {
    .searchReply { width: 52% !important; }
}


@media (min-width: 1600px) {
    .container-fluid {
        max-width: 1850px;
        margin: 0 6px;
    }
}

.printimgonly {
    display: none
}
