/* CSS used here will be applied after bootstrap.css */

body{ margin-top:20px; font-family: Roboto,sans-serif; background-color: #f4fff4}
.user-logged-in { position: absolute; top:5px; right:15px; font-size: 11px; }
.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 8px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222; background-color: #f3f7f3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.ad { padding: 5px; background: #F5F5F5; color: #222; font-size: 80%; border: 1px solid #E5E5E5; }
.ad a.title {color: #15C; text-decoration: none; font-weight: bold; font-size: 110%;}
.ad a.url {color: #093; text-decoration: none;}
.unread-mail { font-weight: 900 !important }
.read-mail { font-weight: normal !important }
.current-course-list a { color: #0fa229 }
.current-course-list>a>.pull-right { box-shadow: 0 0 0 6px white; }
.has-badge { font-weight: 900 }
.active-course a { background-color: darkgreen; color:gold !important; }
/*.active>a>.pull-right { #box-shadow: 0 0 0 7px #337ab7; }*/
/*.nav-pills>li.active>a>.badge { #margin-right: -12px; }*/
.main-mail-section { background-color: #FFF; margin-top:-10px; padding-top:10px }
.sentmailbox-indicator { cursor: alias; border: 1px dotted #c4dcc4 }
.tab-content { margin: -10px -24px 0 -15px }
.list-group-item { border:0; border-bottom: 1px solid #ddd; margin-bottom:0; border-left: 4px solid transparent;  }
a.list-group-item:focus, a.list-group-item:hover { border-left: 4px dotted #c6e8c6; background-color: #f6fff6 }
.list-group-item.active>.badge, .nav-pills>.active>a>.badge { color: white; background-color: #767676; }
.nav-pills>li>a { padding: 5px 10px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { color: inherit; background-color: inherit; font-weight: 900 }
.nav-pills>li>a>.badge { position: absolute; margin-left: -30px; top: 6px; }
.nav>li>a:focus, .nav>li>a:hover { background-color: #d3f5d9; }
.active-course a:focus, .active-course a:hover { background-color:darkgreen !important; color: white !important; }
.breadcrumbsed { color: #cecece; font-size: 16px; position: absolute; top:-40px; left:8px }
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 9px;
    margin-left: 9px;
}
.btn-group .text-muted { margin:4px 10px 0; display: inline-block; }
.search-area { margin: 22px 0 0}
.paginated { margin: 7px 0 0}
.main-mail-section { background: white url(https://www.wosc.edu/img/seal651.png) no-repeat center center; border-left: 1px solid #efefef; }
.tab-content .badge { background: transparent; color: inherit; font-weight: inherit }
.nav .badge { z-index: 999; position: absolute; top: 6px; left: -20px; background-color: #006300; }
.nav .badge div { text-align:center }
.name, .section, .subject { width: 170px; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: -5px; }
.section { width: 60px; border-radius: 8px; background-color: aquamarine; padding: 2px 6px 2px 10px; font-weight: 500 }
.s22222 { background-color: #51D2FF }
.subject { width: 52%; #width: 415px }
.tab-pane .list-group .glyphicon-paperclip { position: absolute; top:2px; right: -2px; border-radius: 8px; background-color: #d6d6d6; padding: 2px 3px; }
.date { width: 55px; margin: 6px 12px 6px -5px; }

/*  REPLY VIEW */
.reply-section-subject { font-weight: 900; font-size: 18px; padding: 10px 12px 6px; }
#id_content { width:98% !important; height: 50px; border-radius: 8px; padding:4px 12px }
input#id_subject { width:93%; border-radius: 8px; padding:6px 12px }
.mail-content { padding: 20px 30px; min-height: 80px; height: 3.5em;  }
.cke_editable {  }
.nav-stacked>li+li {
    overflow: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    #margin-right: -15px;
}
/*.nav-stacked>li+li:last-child {*/
    /*overflow: inherit;*/
    /*text-overflow: inherit;*/
    /*white-space: inherit;*/
    /*margin-bottom: 25px;*/
/*}*/
.nav-stacked>li {
    overflow: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-pills .pull-right {
    font-size: 11px;
}
.nav-pills .pull-right {
    position: absolute;
    right: 5px;
    bottom: 6px;
}
/* COMPOSE SECTION*/
.compose-section-subject { font-weight: 900; font-size: 14px; padding: 0 12px 12px; margin-top: -4px}
#id_course_list, #id_sendto, .compose_inputs { width:55%; border-radius: 8px; padding:6px 12px; font-size:14px;  }
#id_sendto { height: 4em; }
.compose-section-subject .glyphicon { font-size: 22px }
.compose #id_content { width:98% !important; height: 80px }
.cke, .cke_top, .cke_inner, .cke_bottom, .cke_wysiwyg { border-radius: 8px; }
select#id_sendto option { font-size: 20px; overflow: hidden !important; height: auto !important; }
/*select#id_sendto option:first-of-type { font-size: 18px; }*/



.red { background-color:indianred }
.blue { background-color:cornflowerblue }
green { background-color:aquamarine }
a {
    color: #005600;
    border-bottom: 1px dotted #777;
}

a.admin {
    color: #F89797 !important;
}

a.admin:hover {
    color: red !important;
}

a.user {
    color: gold !important;
}

a.user:hover {
    color: yellow !important;
}

.footable-sorted, .footable-sorted-desc {
    color: #7B7272;
    border-bottom: 1px dotted #6B6B6B;
    text-shadow: 2px 2px 0 white !important;
}

.footable.breakpoint > tbody > tr > td > span.footable-toggle {
    font-size: 20px !important;
    margin-top: -5px;
    #padding-right: 2px !important;
    #float: right;
    padding-right: 12px !important;
}

tr.hover {
    cursor: pointer;
    background-color: #3ff
}

.version {
    text-align: center;
    font-size: 12px;
    color:#777;
    margin: 30px auto;
    padding:20px;
    width:35%;
    border:1px dotted #ddd;
    border-radius:40px
}
.developer {
    text-align: center;
    font-size: 12px !important;
    color:#777;
    margin: 30px auto;
    padding:30px;
    width:40%;
    border:1px dotted #ddd
}
.searchBox { width: 60%; float: right; margin-top: 4px; padding-top: 1px; }



@media (max-width: 410px) and (max-width: 767px) {
    .subject { width: 17% }
}

@media (max-width: 767px) {
    input, select { width:93%; }
    .tab-content .glyphicon { display:none }
    ul.nav.nav-pills.nav-stacked {
        width: 100%;
        margin-bottom: 10px !important;
    }
    .subject { width: 35% }
    .searchBox { width: 55% !important; }
    .name { max-width: 20%; }
    .tab-content .badge { #float:none }
    .breadcrumbsed { position:unset; float: right;  margin: -90px -9px 0 0; }
    .activities {
        margin: -10px auto 35px !important
    }
    div.row:first-of-type > img {
        max-width: 536px;
        width: 100% !important;
    }
    .supervisor-text:after {
        content: "Supervisor"
    }
    .developer {
        width: 100%
    }
    .version {
        width:65%
    }
}


@media (min-width: 768px) and (max-width: 996px) {
    /*div.row:first-of-type {*/
        /*width: 76% !important;*/
    /*}*/
    .subject { width: 25% }
    input#id_subject { width:90%; }
    .activities {
        margin: -10px auto 35px !important
    }
    .searchBox { width: 50% !important; }
    .supervisor-text:after {
        content: "Supervisor"
    }
}

@media (min-width: 997px) and (max-width: 1199px) {
    /*div.row:first-of-type {*/
        /*width: 60% !important;*/
    /*}*/
    .searchBox { width: 55% !important; }
    .supervisor-text:after {
        content: "Supervisor"
    }
}

@media (min-width: 1600px) {
    .container-fluid {
        max-width: 1850px;
        margin: 0 auto;
    }
}

.printimgonly {
    display: none
}