{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block content %}

    <div class="row" style="#width: 40%; #margin: 70px auto 10px;">
    </div><!--/row-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            {% include 'global-logo.html' %}
        </div>
        <div class="col-sm-8 col-md-9 search-area">
            <div class="breadcrumbsed">
                    Label: Audit Home
            </div>
            <div class="input-group searchBox">
                <input type="text" class="form-control pull-right" placeholder="Search Course Mail..." aria-label="Search Course Mail...">
                <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
            {% if "/audit/user" in request.path or "/audit/class" in request.path %}
                <a type="button" class="btn btn-default" href="{% url 'audit' %}" data-toggle="tooltip" data-placement="bottom" title="Back to Inbox" style="margin-left:-10px">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;&nbsp;Back
                </a>
            {% endif %}
        </div>
    </div>
    <hr style="border-top:1px solid #d4d4d4">
    <div class="row">

{% include 'audit-left_course_menu.html' %}

        <div class="col-sm-8 col-md-9 main-mail-section">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list-group" style="padding:20px">

                    <form action="." method="get">
                        {% csrf_token %}
                        {{ form }}

                        {% if "/user" in request.path %}
                            {% include 'audit_form_user.html' %}

                        {% elif "/class" in request.path %}
                            {% include 'audit_form_class.html' %}

                        {% else %}

                            <h4 style="text-align: center; margin:20px 0">
                                Welcome, Please choose from the following choices:
                            </h4>
                            <div class="list-group" style="margin-right: 8px;">
                              <a href="{% url 'auditclass' %}" class="list-group-item " style="border-top: 1px solid #ddd;">
                                <h4 class="list-group-item-heading">By Class</h4>
                                <p class="list-group-item-text">Filter audit results by all courses.</p>
                              </a>
                              <a href="{% url 'audituser' %}" class="list-group-item ">
                                <h4 class="list-group-item-heading">By User</h4>
                                <p class="list-group-item-text">Filter audit results by all users.</p>
                              </a>
                            </div>
                        {% endif %}
                    </form>

                    </div>
                </div>
            </div>

            <div class="row-md-12">

{#                <div class="well">#}
{#                    <span style="color:red">{{ email }} ------ {% now "jS F Y H:i" %} ------ </span>#}
{#                </div>#}

            </div>
        </div>
    </div>
</div>

<style>
</style>

{% endblock %}