{% block leftcoursemenu %}
        <div class="col-sm-4 col-md-3">
            <a href="{% url 'audit' %}" class="btn btn-danger btn-sm btn-block" role="button"><i class="glyphicon glyphicon-question-sign"></i> Audit</a>
            <hr>
            <ul class="nav nav-pills nav-stacked" id="current-courses">
                <li id="auditclass" class=""><a href="{% url 'auditclass' %}"> By Class </a>
                </li>
            <li id="audituser" class=""><a href="{% url 'audituser' %}"> By User </a>
                </li>



            </ul>

        </div>
{% endblock %}
