{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Pioneer Alert System"/>
    <title>Cmail2 - Western Oklahoma State College</title>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/mail2.png' %}">

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/blog.css" rel="stylesheet" media="screen">
    <link href="/static/css/select2.min.css" rel="stylesheet" media="screen">
    <!-- Custom styles for this template -->
    <link href="/static/css/!TEMPLATE_v2.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/js/custom_v2.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="/static/js/select2.full.min.js"></script>

    <![endif]-->
</head>
<body>

    <div class="user-logged-in"><i>Logged in as</i> {% if not user.first_name or not user.last_name %}{{ user.username }}{% else %}{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}{% endif %}</div>
    {% block content %}
    {% endblock %}


<footer clas="blog-footer">
    <div class="inner">
        <p>
            <div class="version" title="APPLICATION NAME: Western Course Mail System

            LEAD: &nbsp;Steve Prater
            BACK-END DEVELOPER: &nbsp; Brian Carpenter
            FRONT-END DEVELOPER: &nbsp;Nicholas Hood">
                -- <b>Course Mail System</b> -- <br>Version 0.2
            </div>
        </p>
    </div>
</footer>
<p>&nbsp;</p>

</div><!--/container-->


<!-- ### FOOTABLE CSS & JS ### -->
{#<link href="/static/css/footable.core.css" rel="stylesheet" type="text/css"/>#}
{#<link href="/static/css/footable.standalone.css" rel="stylesheet" type="text/css"/>#}
{#<script src="/static/js/footable.js" type="text/javascript"></script>#}
{#<script src="/static/js/footable.sort.js" type="text/javascript"></script>#}
{#<script src="/static/js/footable.filter.js" type="text/javascript"></script>#}
{#<script src="/static/js/image-tooltip.js" type="text/javascript"></script>#}
{#<script src="/static/js/jquery.maskedinput.min.js"></script>#}
<script type="text/javascript">

{#    ------- THIS IS AJAX YO --------#}
$( document ).ready(
    doAjax()
);


function doAjax() {
    getCourses();

}


function getUnreadBadges(){
    var data = {};
    var x = 1;
    $('.current-course-list').each(function(){
        data[x] = {course: this.id};
        x++;
    });

    $.ajax({
        contentType: 'application/json',
        data: JSON.stringify(data),
        dataType: 'json',
        success: function(response){
                var total = 0;
                jQuery.each(response, function(index, element){
                    if (element.count != "0") {
                        $("#" + element.course).addClass("has-badge");
                        $("#" + element.course).prepend('<div class="badge pull-right2">' + element.count + '</div>');
{#                        $("#" + element.course).attr('title', total + ' Unread messages...');#}
                        total = total + element.count;
                    }
                });
                if (total != "0") {
                    $("#inbox").prepend('<div class="badge">' + total + '</div>');
                    $("#inbox").attr('title', total + ' total un-read messages...');
                }
        },
        type: 'POST',
        url: '/listunread/'
    });
}

$('#{{ mail.section }}-{{ mail.termcode }}').addClass('active-course');


//$('.main-mail-section').css("height", $(document).height());


function addActiveCourse() {
var sections = window.location.pathname.split('/');
    if (sections[1] === "label"){
        console.log(sections[2]);
        $('#' + sections[2]).addClass('active-course');
    }
}



$('#archive-btn').click(function () {
    $('form#archive').submit();
});
$('#munread-btn').click(function () {
    $('form#munread').submit();
});


// {#    ------- THIS IS MAIL (Reply, Compose, View) --------#}

    $(".mail-content a").attr("target","_blank");

    $( ".reply_editor" ).attr("placeholder", "Click here to Reply...");
{#    $( ".reply_editor" ).delay(800).click(function() {#}
{#        CKEDITOR.replace( 'id_content', {#}
{#            on:#}
{#                {'instanceReady':function(evt){#}
{#                    CKEDITOR.instances.id_content.focus();#}
{#                    config.extraPlugins = 'mathjax';#}
{#                }#}
{#                }#}
{##}
{#        });#}
{#        $( ".sendmailbutton" ).show();#}
{#    });#}
    $( ".compose .reply_editor" ).attr("placeholder", "Click here to Compose...");
    $("#id_instructor").prop("selectedIndex", 0);




    var d = new Date();
    var n = d.getTimezoneOffset();

    $('.calculatedtime').each(
        function () {
            var createdTime = new Date($(this).html() * 1000);
{#            console.log(createdTime.toLocaleDateString() + " " + createdTime.toLocaleTimeString());#}
            $(this).html(createdTime.toLocaleString());
        }
    )

    $('.justthedateplease').each(
        function () {
            var createdTime = new Date($(this).html() * 1000);
{#            console.log(createdTime.toLocaleDateString() + " " + createdTime.toLocaleTimeString());#}
            $(this).html(createdTime.toLocaleDateString());
        }
    )

</script>



</body>
</html>
