{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block content %}

    <div class="row" style="#width: 40%; #margin: 70px auto 10px;">
    </div><!--/row-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            {% include 'global-logo.html' %}
        </div>
        <div class="col-sm-8 col-md-9 search-area">
            <div class="breadcrumbsed">
                {% if sn == "True" %}
                    Label: {{ sn }}
                {% else %}
                    Compose New Message
                {% endif %}
            </div>
            {% include 'global-search_and_nav_buttons.html' %}
        </div>
    </div>
    <hr>
    <div class="row">

        {% include 'global-left_course_menu.html' %}

        <div class="col-sm-8 col-md-9 main-mail-section">
            <div class="pull-right">

            </div>
            <!-- Nav tabs -->

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">

                <form action='.'  method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ sn }}" name="termcode" id="id_termcode">
                <input type="hidden" value="{{ sn }}" name="section" id="id_section">

                    {% if not sn in request.path %}
                        <div class="compose-section-subject" title="Course List" style="padding-top: 10px">
                            <span class="glyphicon glyphicon-tasks" data-toggle="tooltip" data-placement="bottom" ></span>&nbsp;&nbsp;&nbsp;
                            <select name="instructor" id="id_course_list">
                                <option value  selected> &nbsp; --- Select a Course --- &nbsp; </option>
                                <div id="selected_instructors"></div>
                            </select>
                        </div>
                    {% else %}
                        <div class="compose-section-subject" title="Course" style="padding-top: 10px">
                            <span class="glyphicon glyphicon-tasks" data-toggle="tooltip" data-placement="bottom" ></span>&nbsp;&nbsp;&nbsp;
                            <input type="text" name="{{ sn }}" id="id_course" class="compose_inputs" value="{{ sn }}" disabled />
                        </div>
                    {% endif %}
                        {{ instructor }}
                        <div class="compose-section-subject" id="show_students_div" title="Students in selected course:" style="#display:none;">
                            <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="bottom" ></span>&nbsp;&nbsp;&nbsp;
                            <select name="sendto" id="id_sendto" multiple>
                                <div id="selected_students"></div>
{#                                <option value="{{ instructor }}">{{ instructor }}</option>#}
{#                                {% for names in instructor %}#}
{#                                    <option value="{{ instructor }}">{{ names }}</option>#}
{#                                {% endfor %}#}
                            </select>
                            <button type="button" id="select_all" name="select_all" value="Select All" class="btn btn-warning2" data-toggle="modal" data-target="#myModal" style="margin-top:-20px">Select All</button>
                        </div>

                    <div class="compose-section-subject" >
                        <div style="float:right" >
                            <span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="bottom" ></span>&nbsp;&nbsp;&nbsp;
                            <span class="current-date"></span>
                        </div>
                        <span class="glyphicon glyphicon-share-alt" data-toggle="tooltip" data-placement="bottom" ></span>&nbsp;&nbsp;&nbsp;
                        <input id="id_subject" name='subject' type="text" placeholder="Subject Line..." />
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 nopadding compose">

                                {% autoescape off %}
                                    {{ form.content }}
                                {% endautoescape %}

                            </div>
                        </div>
                        <br />
                        <button class="btn btn-success sendmailbutton" style="float:right;">
                            <span class="glyphicon glyphicon-send" data-toggle="tooltip" data-placement="bottom"></span>&nbsp;&nbsp;&nbsp;
                            Send Message
                        </button>
                    </div>
                {% if form.errors %}
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
{#                {% for hidden in form.hidden_fields %}#}
{#                    {{ hidden }}#}
{#                {% endfor %}#}
                </form>
                </div>
            </div>

            <div class="row-md-12">

            </div>
        </div>
    </div>
</div>


{#<script src="https://cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>#}
    <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>


    <script type="application/javascript">

$( document ).ready(
    {% if sn == 'False' %}
        listClasses(),
    {% else %}
        listStudents("{{ sn }}")
    {% endif %}
);

$(document).on('change', '#id_course_list', listStudents);


function listClasses(){

       var termCode = calculateCurrentTermCode();
       $.ajax({
           url: 'https://moodle.wosc.edu/wosc/rest.php',
           data: {rest_key: 'HkHO25shu0i3Tq24iCknrB1mnpOY', action: 'get_my_courses'},
           jsonp: 'callback',
           dataType: 'jsonp',
           success: function (response) {
               jQuery.each(response, function (id, course) {
                  var info = course.shortname.split("-");
                  try {
                      if (termCode == info[1].toLowerCase()) {
                          $('#id_course_list').append($('<option></option> ')
                              .attr("value", course.shortname)
                              .text(course.fullname));
                      }
                  }
                  catch(e){}
               });
               {% if sn != 'False' %}
                    $('#id_course_list').val();
                    $('#show_students_div').slideDown();
               {% endif %}
           }
       })
}


    $('#id_course_list').on('change', function () {
        $('#show_instructor_div').slideDown();
    });

    $('#select_all').click(function() {
        $('#id_sendto option').prop('selected', true);
    });

function listStudents(){
    sn = $('#id_course_list').val();
    $("#id_termcode").val(sn.split("-")[1]);
    $("#id_section").val(sn.split("-")[0]);
    if(sn != '')
    {
        $.ajax({
            url: 'https://moodle.wosc.edu/wosc/rest.php',
            data: {rest_key: 'HkHO25shu0i3Tq24iCknrB1mnpOY', action: 'get_members', section: sn},
            jsonp: 'callback',
            dataType: 'jsonp',
            success: function (response) {
                jQuery.each(response, function (index, data) {
                    try {
                        $('#id_sendto').append($('<option></option> ')
                            .attr("value", data.username)
                            .text(data.username));
                    }
                    catch (e) {
                    }
                });
            }
        })
    }
}



$('#id_course_list').change(function(){
    var myID = $(this).val();
    $('#show_students_div').slideDown();
});


	CKEDITOR.replace( 'id_content', {
		customConfig: '/static/ckeditor/config.js'
	} );

	MathJax.Hub.Config({
  PreviewHTML: {
    scale: 200
  }
});

</script>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select All Notice!</h4>
      </div>
      <div class="modal-body">
        <p> </p>
        <p>We recommend using a Forum post instead of mailing each student individual.</p>
          <p>Do you accept that you have read this notice?</p>
        <p> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">I Accept!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    {% endblock %}

