{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block content %}

    <div class="row" style="#width: 40%; #margin: 70px auto 10px;">
    </div><!--/row-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            {% include 'global-logo.html' %}
        </div>
        <div class="col-sm-8 col-md-9 search-area">
<!--
            <div class="breadcrumbsed">
                {% if sn in request.path %}
                    New Message for: {{ sn }}
                {% else %}
                    Compose New Message
                {% endif %}
            </div>
-->
        <div class="input-group searchBox">
            <input type="text" class="form-control pull-right" placeholder="Search All Course Mail..." aria-label="Search All Course Mail...">
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
            </span>
        </div>

        </div>
    </div>
    <hr style="border-top:1px solid #d4d4d4">
    <div class="row">

        {% include 'global-left_course_menu.html' %}

        <div class="col-sm-8 col-md-9 main-mail-section">
            <div class="pull-right">

            </div>
            <!-- Nav tabs -->

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">



                <form action='.'  method="post" id="sendMail">
                    {% if form.errors %}
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    <input type="hidden" value="{{ sn }}" name="termcode" id="id_termcode">
                    <input type="hidden" value="{{ sn }}" name="section" id="id_section">

                    {% if not sn in request.path %}
                        <div class="compose-section-subject" title="Course List" style="padding-top: 10px">
                            <span class="fas fa-clipboard-list" data-toggle="tooltip" data-placement="bottom" style="top:5px"></span>&nbsp;&nbsp;&nbsp;
                            <select name="instructor" id="id_course_list" onchange="if (this.value) window.location.href=this.value">
                                <option value disabled selected> &nbsp; --- Select a Course --- &nbsp; </option>
                                <div id="selected_instructors"></div>
                            </select>
                        </div>
                        <div class="compose-section-subject" id="show_students_div" style="display:none;">
                            <span class="fas fa-users" data-toggle="tooltip" data-placement="bottom" style=" float: left;  margin-top: 10px;"></span>&nbsp;&nbsp;&nbsp;
                            <input type="hidden" id="id_recipients" value="">
                            <select name="sendto" id="id_sendto" multiple>
                                <div id="selected_students"></div>
                            </select>
{#                            <button type="button" id="select_all" name="select_all" value="Select All" class="btn btn-warning2" data-toggle="modal" data-target="#myModal" style="margin-top:-20px">Select All</button>#}
                        </div>
                    {% else %}
                        <div class="compose-section-subject"style="padding-top: 10px">
                            <span class="fas fa-clipboard-list" data-toggle="tooltip" data-placement="bottom" ></span>&nbsp;&nbsp;&nbsp;
                            <input type="text" name="{{ sn }}" id="id_course_list" class="compose_inputs" value="{{ sn }}" readonly />
                        </div>
                        <div class="compose-section-subject" id="show_students_div">
                            <span class="fas fa-users" data-toggle="tooltip" data-placement="bottom" style=" float: left;  margin-top: 6px;"></span>&nbsp;&nbsp;&nbsp;
                            <select name="sendto" id="id_sendto" multiple>
                                <div id="selected_students"></div>
                            </select>
{#                            <button type="button" id="select_all" name="select_all" value="Select All" class="btn btn-warning2" data-toggle="modal" data-target="#myModal" style="margin-top:-20px">Select All</button>#}
                        </div>
                    {% endif %}

                    <div class="compose-section-subject noSNnumber">
                        <span class="fas fa-comments" data-toggle="tooltip" data-placement="bottom" ></span>&nbsp;&nbsp;&nbsp;
                        <input id="id_subject" name='subject' type="text" placeholder="Subject Line..." />
                    </div>
                    <div class="container-fluid noSNnumber">
                        <div class="row">
                            <div class="col-lg-12 nopadding compose">

                                {% autoescape off %}
                                    {{ form.content }}
                                {% endautoescape %}

                            </div>
                        </div>
                    </div>
                <div class="noSNnumberInfo" style="display:none; text-align: center; padding: 40px 10px">
                    <img src="{% static 'images/choose.jpg' %}" alt="CHOOSE YOUR COURSE" style="width:100%; max-width: 700px; border-radius: 9px;" />
                </div>
                <div id="attachmentsDiv" class="noSNnumber"></div>
                    </form>
                        <div class="col-lg-12 nopadding compose noSNnumber" style="padding:12px 0 0 0">
                                <div class="col-sm-6" style="border-right: 1px dotted #ccc;margin-right: -1px;">
                                    <div class="container">
                                        <!--TODO ripout css-tricks file upload -->
                                        <form class="dropzone" method="post" action="{% url 'upload' %}" enctype="multipart/form-data"
                                              novalidate>
                                            {% csrf_token %}
                                            <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Select files...</span>
                                            <input id="fileupload" type="file" name="attachment" multiple/>
                                            </span>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="text-align: right;border-left: 1px dotted #ccc">
                                    <p style="float:right">
                                        <a onclick="window.open('http://www.wiris.com/editor/demo/en/mathml-latex','','width=966,height=800,left='+(screen.availWidth/2-400)+',top='+(screen.availHeight/2-300)+'');return false;"
                                           href="http://www.wiris.com/editor/demo/en/mathml-latex" target="_blank"
                                           class="btn2 btn-warning2" style="width: 210px;">Math Tool Helper</a>
                                    </p>
                                    <div style="text-align: left;">
                                        <h4>Attachment(s):</h4>
                                        <ul id="attachmentsDisplayDiv" style="list-style:none; padding:0; color:green"></ul>
                                    </div>
                                    <button class="btn btn-success sendmailbutton" style="width: 210px;">
                                        <span class="fas fa-paper-plane" data-toggle="tooltip"
                                              data-placement="bottom"></span>&nbsp;&nbsp;&nbsp;
                                        Send Message
                                    </button>
                                </div>
                            </div>
			<p style="text-align:center">
			   <img src="https://www.wosc.edu/img/benice.jpg" alt="Be Nice!" style="margin:20px; width:100%; max-width:500px; box-shadow: inset 0 0 10px #000000,0 8px 6px -6px black; border-radius:10px">
			</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="application/javascript">
if (navigator.userAgent.search("Firefox") >= 0) {
    console.log("Jups, is FireFox");
    //$('.file-upload').remove();
} else {
    console.log("Nope, not FireFox");
    //$.getScript('{% static '/js/attachments_v2.js' %}');
}

</script>
{#<script src="https://cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>#}
<script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>

<script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static 'js/jquery.fileupload.js' %}"></script>
<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    var url = '{% url 'upload'  %}';
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        start: function(e) {
            $('#progress').css('display','inherit');
            $('.sendmailbutton').prop('disabled',true);
            $('.progress-bar').text("Uploading");
            $('.fileinput-button').css('display','none');


        },
        done: function (e, data) {
            console.log(data);
            var html = $('#attachmentsDisplayDiv').html();
            $('#attachmentsDisplayDiv').html(html + '<li id="attachment-id-' + data.result.attachment_id + '" style="padding:6px 0" title="Successfully attached ' + data.filename +'"><b><span class="glyphicon glyphicon-paperclip"></span> ' + data.result.filename +'</b></li>\n');
			html = $('#attachmentsDiv').html();
			$('#attachmentsDiv').html(html + '<input type="hidden" id="id_attachments" name="attachments" value="'+ data.result.attachment_id +'">');
            $.each(data.result, function (index, file) {



            });
            $('#progress').css('display','none');
            $('.fileinput-button').css('display','initial');
            $('.sendmailbutton').prop('disabled',false);

        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);

            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
            $('.progress-bar').text("Uploading "+progress+"%");

        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>

<script src="{% static '/js/multiple-select.js' %}"></script>

<script type="application/javascript">
$( document ).ready(function() {
    if ($('#id_sendto option').length == 1) {
        $('#id_sendto option').attr('selected', true);
    }
    $(".sendmailbutton").click(function() {
        $("#sendReply").submit();
    });
});
$( document ).ready(
    {% if sn == 'False' %}
        listClasses(),
    {% else %}
        listStudents("{{ sn }}")
    {% endif %}
);


$(".sendmailbutton").click(function() {
      $("#sendMail").submit();
});

$(document).on('change', '#id_course_list', listStudents);

function listClasses(){

       var termCode = calculateCurrentTermCode();
       $.ajax({
           url: 'https://moodle.wosc.edu/wosc/rest.php',
           data: {rest_key: 'HkHO25shu0i3Tq24iCknrB1mnpOY', action: 'get_my_courses'},
           jsonp: 'callback',
           dataType: 'jsonp',
           success: function (response) {
               jQuery.each(response, function (id, course) {
                  var info = course.shortname.split("-");
                  try {
                      if (termCode == info[1].toLowerCase()) {
                          $('#id_course_list').append($('<option></option> ')
                              .attr("value", "/compose/" + course.shortname)
                              .text(course.fullname));
                      }
                  }
                  catch(e){}
               });
               $('#id_sendto option').prop('selected', true);
               {% if sn != 'False' %}
                    $('#id_course_list').val();
                    $('#show_students_div').slideDown();
               {% endif %}
           }
       })
}


    $('#id_course_list').on('change', function () {
        $('#show_instructor_div').slideDown();
{#        $("#id_sendto").multipleSelect({#}
{#            placeholder: "Select a Recipient"#}
{#        });#}
        $('#id_sendto option').prop('selected', true);
    });

    $('#select_all').click(function() {
        $('#id_sendto option').prop('selected', true);
    });

function listStudents(){
    sn = $('#id_course_list').val();
    $("#id_termcode").val(sn.split("-")[1]);
    $("#id_section").val(sn.split("-")[0]);
    if(sn != '')
    {
        $.ajax({
            url: 'https://moodle.wosc.edu/wosc/rest.php',
            data: {rest_key: 'HkHO25shu0i3Tq24iCknrB1mnpOY', action: 'get_members', section: sn},
            jsonp: 'callback',
            dataType: 'jsonp',
            success: function (response) {
                jQuery.each(response, function (index, data) {
                    try {
                        $('#id_sendto').append($('<option></option> ')
                            .attr("value", data.username)
                            .text(data.username));
                    }
                    catch (e) {}
                });
                if ($('#id_sendto option').length == 1) {
                    $('#id_sendto option').attr('selected', true);
                }
                $("#id_sendto").multipleSelect({
                    placeholder: "Select a Recipient"
                });
{#                $('#id_sendto option').prop('selected', true);#}
            }
        })
    }
}



$('#id_course_list').change(function(){
    var myID = $(this).val();
    $('#show_students_div').slideDown();
});


CKEDITOR.replace('id_content', {
    customConfig: '/static/ckeditor/config.js'
});

</script>


<link href="{% static '/js/multiple-select.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/jquery.fileupload.css' %}" rel="stylesheet">
<style>
 {% if not sn in request.path %}
     .noSNnumber {
        display: none;
     }
     .noSNnumberInfo {
        display:block !important;
     }
 {% endif %}
    .ms-choice {
        width: 99%;
        height: 35px;
        line-height: 35px;
        border-radius: 8px;
        border: 1px solid rgb(238, 238, 238);
        border-width: 2px;
        border-style: inset;
    }
    .ms-choice > div {
        top: 4px;
        right: 12px;
    }
    .ms-choice > span {
        padding-left: 14px;
    }
    #attachmentsDiv:empty::after{
        content: "No attachments";
        font-style: italic;
    }
    .attachments-loop li {
        display: inline-block;
    }
    .file-upload {
        display: grid;
        padding-bottom: 9px;
    }
    #id_file, .box__button2 {
        margin-bottom: 30px;
    }

    .container
    {
        width: 90%;
        max-width: 500px; /* 800 */
        text-align: center;
        margin: 0 auto;
    }

    .container nav a
    {
        border-bottom: 2px solid #c8dadf;
        display: inline-block;
        padding: 4px 8px;
        margin: 0 5px;
    }
    .container nav a.is-selected
    {
        font-weight: 700;
        color: #39bfd3;
        border-bottom-color: currentColor;
    }
    .container nav a:not( .is-selected ):hover,
    .container nav a:not( .is-selected ):focus
    {
        border-bottom-color: #0f3c4b;
    }

</style>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select All Notice!</h4>
      </div>
      <div class="modal-body">
        <p> </p>
        <p>We recommend using a Forum post instead of mailing to each student.</p>
          <p>Do you accept that you have read this notice?</p>
        <p> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">I Accept!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    {% endblock %}

