{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block content %}

    <div class="row" style="#width: 40%; #margin: 70px auto 10px;">
    </div><!--/row-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            {% include 'global-logo.html' %}
        </div>
        <div class="col-sm-8 col-md-9 search-area">
            {% include 'global-search_and_nav_buttons.html' %}
        </div>
    </div>
    <hr>
    <div class="row">

        {% include 'global-left_course_menu.html' %}

        <div class="col-sm-8 col-md-9 main-mail-section">
            <div class="pull-right">

            </div>
            <!-- Nav tabs -->

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">

                <form action='.'  method="post">
                {% csrf_token %}

                    <div class="compose-section-subject" title="Subject">
                        <input id="id_subject" type="text" placeholder="Compose Subject Line"/>
                    </div>

                    <div style="padding:12px">
                        <div style="float:right" >
                            <span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="bottom" ></span>&nbsp;&nbsp;&nbsp;DATE?
                        </div>
                        <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="bottom" ></span>&nbsp;&nbsp;&nbsp;SEND TO:
                        <hr />
                    </div>

                    <div style="padding: 0 30px; min-height: 100px">
                        {% autoescape off %}
                            {{ mail.content }}
                        {% endautoescape %}
                    </div>
                    <br />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 nopadding">

                                {{ form.content }}

                                <!--<textarea id="editor1" class="reply_editor"></textarea>-->
                            </div>
                        </div>
                        <br />
                        <button class="btn btn-success sendmailbutton" style="float:right;display:none">
                            <span class="glyphicon glyphicon-send" data-toggle="tooltip" data-placement="bottom"></span>&nbsp;&nbsp;&nbsp;
                            Send Message
                        </button>
                    </div>
                </div>
            </div>

            <div class="row-md-12">

            </div>
        </div>
    </div>
</div>
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

</form>


    {% endblock %}

