{% block leftcoursemenu %}
        <div class="col-sm-4 col-md-3">
            <a href="#" class="btn btn-danger btn-sm btn-block" role="button"><i class="glyphicon glyphicon-edit"></i> Compose</a>
            <hr>
            <ul class="nav nav-pills nav-stacked" id="current-courses">
                <li class="active2"><a href="#ThisISyourInbox!"> Inbox </a>
                </li>
                <li><a href="#">Sent Mail</a></li>
{#                <li class="current-course-list has-badge"><a href="#" title="2C202 - College Algebra (30 unread messages)"><span class="badge pull-right2">30</span> 2C202 - College Algebra</a></li>#}
{#                <li class="current-course-list"><a href="#" title="29606 - Micro-Computer">29606 - Micro-Computer</a></li>#}
{#                <li class="current-course-list"><a href="#"title="31020 - Agriculture Sciences">31020 - Agriculture Sciences</a></li>#}
{#                <li class="current-course-list has-badge"><a href="#"title="3C120 - Trig (2 unread messages)"><span class="badge pull-right2">2</span> 3C120 - Trig</a></li>#}

            </ul>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer; font-size: 12px">
                        PAST COURSES: <span class="caret" style="#float:right; #margin:8px 0 0 0"></span><span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu" id="past-courses" role="menu">
                    </ul>
                </li>
            </ul>
        </div>
{% endblock %}
