{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block content %}

    <div class="row" style="#width: 40%; #margin: 70px auto 10px;">
    </div><!--/row-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            {% include 'global-logo.html' %}
        </div>
        <div class="col-sm-8 col-md-9 search-area">
            <div class="breadcrumbsed">
                {% if sn %}
                    Label: {{ sn }}
                {% else %}
                    Label: CMAIL2 Inbox
                {% endif %}
            </div>
            <div class="input-group searchBox">
                <input type="text" class="form-control pull-right" placeholder="Search Course Mail..." aria-label="Search Course Mail...">
                <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
            {% if  email %}
            <button type="button" class="btn btn-default" style=" margin: 6px 15px 0 -9px; padding: 0px 11px;" title="Select All">
                <div class="checkbox" style="margin: 3px -3px;">
                    <label>
                        <input type="checkbox" id="checkall" style="margin: 7px 0 0 -16px;">
                    </label>
                </div>
            </button>
            <div class="btn-group" style="display:none; padding: 3px; margin: 0 10px -6px -20px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    More <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Archive selected</a></li>
                    <li><a href="#">Mark selected as read</a></li>
                    <li><a href="#">Mark selected as unread</a></li>
                    <li class="divider"></li>
                    <li class="text-center"><small class="text-muted">Select messages to see more actions</small></li>
                </ul>
            </div>
            {% endif %}
            <a type="button" class="btn btn-default" data-toggle="tooltip" title="Refresh" onClick="location.reload();" style="padding: 5px; margin: 0 10px -6px -6px;">
                &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;&nbsp;</a>
{#            {% if  email %}#}
{#            <div class="btn-group paginated">#}
{#                <div class="text-muted"><b>1</b>–<b>50</b> of <b>INFINITY</b>  </div>#}
{#                <div class="btn-group btn-group-sm">#}
{#                    <button type="button" class="btn btn-default">#}
{#                        <span class="glyphicon glyphicon-chevron-left"></span>#}
{#                    </button>#}
{#                    <button type="button" class="btn btn-default">#}
{#                        <span class="glyphicon glyphicon-chevron-right"></span>#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#            {% endif %}#}
        </div>
    </div>
    <hr>
    <div class="row">

{% include 'global-left_course_menu.html' %}

        <div class="col-sm-8 col-md-9 main-mail-section">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list-group">

                    {% if not email %}
                        {% if not "/label/" in request.path %}
                            <div href="#" class="list-group-item" style="text-align:center;">
                                <h2>Welcome to Course Mail2</h2>
                                <p style=font-weight:bold>
                                    This is your introduction to Course Mail2 for Moodle:
                                    <br />
                                    You currently do not have any email to view.
                                </p>
                                <p style="text-align:center">
                                    <img src="/static/images/mail/0.jpg" />
                                </p>
{#                                <p>#}
{#                                    Lorem ipsum dolor sit amet, pro nullam facilisi an, per iuvaret conclusionemque te. Te audire dolorem nominavi sea, ut ubique dignissim intellegam per. His cu noluisse accusata quaerendum. Molestie deseruisse et eam. Ad accumsan recteque mediocritatem eum, qui aeterno consequat te, ut sed omnis dolore.#}
{#                                </p>#}
                            </div>
                        {% else %}
                            <div href="#" class="list-group-item" style="text-align:center;">
                                <h2>Course Mail2</h2>
                                <p style=font-weight:bold>
                                    You currently do not have any email for this course: <br /><span style="font-size: 20px">{{ sn }}</span>.
                                </p>
                                <p style="text-align:center">
                                    <script language="JavaScript">showImage();</script>
                                </p>
                            </div>
                        {% endif %}
                    {% endif %}

                        {% for message in email|dictsortreversed:"timestamp" %}
{#                    {% for message in email %}#}
                        <a href="{% url "reply" message.id %}" class="list-group-item message-ID-{{ message.id }}{% if message.read == True %} read{% endif %} {% if message.read == False %} unread-mail{% endif %}"
                           title="MAIL FROM: {{ message.from.first_name }} {{ message.from.last_name }} in {{ message.section }}. SUBJECT: {{ message.subject }}.">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="check" id="message-id-{{ message.id }}">
                                </label>
                            </div>
                            <span class="name"> {{ message.from.first_name }} {{ message.from.last_name }}</span>
                            <span class="{% cycle 'red' 'green' 'blue' %} section s{{ message.section }}">{{ message.section }}</span>
                            <span class="subject text-muted"> &nbsp; {{ message.subject }}</span>

                            <span class="date badge justthedateplease">
{#                                {% now "Y-m-d" as todays_date %}#}
{#                                {% if todays_date >= message.date|date:"Y-m-d" %}#}
{#                                   {{ message.date }}#}
{#                                {% else %}#}
{#                                    {{ message.timestamp }} Today#}
{#                                {% endif %}#}
                                {{ message.timestamp }}
                            </span>
                                {% if message.has_attachment %}
                                    <span class="glyphicon glyphicon-paperclip" title="This message has an Attachement!">
                                {% endif %}
{#                            <span class="pull-right">#}
{#                            </span>#}
                        </span>
                        </a>

                        {% endfor %}


                    </div>
                </div>
                <div class="tab-pane fade in" id="profile">
                    <div class="list-group">
                        <div class="list-group-item">
                            <span class="text-center">This tab is empty.</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="settings">
                    This tab is empty.</div>
            </div>
{% include 'global-debug.html' %}
        </div>
    </div>
</div>

<script>

  $('.main-mail-section:empty').html(function() {
      return "NON Yet!";
  });

</script>


{% endblock %}