{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% localtime on %}
    <p>{{ currentime }}</p>
{% endlocaltime %}
{% block content %}

    <div class="row" style="#width: 40%; #margin: 70px auto 10px;">
    </div><!--/row-->

    <div class="container-fluid">
    <div class="row">
        <div class="logo-col col-sm-4 col-md-3">
            {% include 'global-logo.html' %}
        </div>
        <div class="col-sm-8 col-md-9 search-area search-area-reply">

            <!-- Split button -->
            <a type="button" class="btn btn-default" href="{{ request.META.HTTP_REFERER }}" data-toggle="tooltip" data-placement="bottom" title="Back to Inbox">
                <span class="fas fa-arrow-left"></span>&nbsp;&nbsp;&nbsp;Back
            </a>
            <!-- Single button -->
	{% if mail.referer %}
         {% if not mail.archived %}
            <form action="{% url 'archivemail' %}" method="POST" id="archive" style="display:inline-block">
                {% csrf_token %}
                <input value="{{ mail.id }}" name="message_id" type="hidden">
                <input value="{{ mail.referer }}" name="referer" type="hidden">
                <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="archive-btn" title="Archive to Course Folder">
                     <span class="fas fa-cloud"></span>&nbsp;&nbsp;&nbsp;Archive
                </a>
            </form>
          {% else %}
            <form action="{% url 'unarchivemail' %}" method="POST" id="unarchive" style="display:inline-block">
                {% csrf_token %}
                <input value="{{ mail.id }}" name="message_id" type="hidden">
                <input value="{{ mail.referer }}" name="referer" type="hidden">
                <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="unarchive-btn" title="Send back to Inbox">
                     <span class="fas fa-inbox"></span>&nbsp;&nbsp;&nbsp;Send to Inbox
                </a>
            </form>
          {% endif %}
            <form action="{% url 'markunread' %}" method="POST" id="munread" style="display:inline-block">
                {% csrf_token %}
                <input value="{{ mail.id }}" name="message_id" type="hidden">
                <input value="{{ mail.referer }}" name="referer" type="hidden">
                <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="munread-btn" title="Mark this Message as Un-Read">
                    <span class="fas fa-envelope"></span>&nbsp;&nbsp;&nbsp;Mark as Un-Read
                </a>
            </form>
	{% endif %}

        </div>
    </div>
    <hr style="border-top:1px solid #d4d4d4">

    {% include 'global-left_course_menu.html' %}

    <div class="col-sm-8 col-md-9 main-mail-section">
        <div class="pull-right">

        </div>
        <!-- Nav tabs -->

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="home">

 {% if parentlist %}
  <a href="#" id="accordian-expand-all" class="btn2 btn-default2" style="float:right; border-bottom:0; font-size:12px; margin-right:25px">Show All {{ parentlist|length }} Emails</a>
 {% endif %}
                <div class="reply-section-subject" title="SUBJECT LINE">
		    <span class="label label-default" style="font-size:11px;float: left; margin: 5px 8px 5px 0;" title="Course Section">
			{{ mail.section }}
		    </span> 
                    {% if parentlist.0.subject %}
                        {{ parentlist.0.subject }}
                    {% elif mail.subject %}
			{{ mail.subject }}
		    {% else %}
                        (no subject)
                    {% endif %}
                </div>

<div class="panel-group" id="accordion">
  {% for parent in parentlist %}
    <!-- Panel -->
    <div class="panel panel-default" style="margin-top:-1px;">
        <div class="panel-heading" style="padding:0 !important; background-color: #e6ece6;">
                <h4 class="parenttitle panel-title" data-toggle="collapse" data-target="#accordian-parentID-{{ parent.id }}" style="font-size:13px;padding: 6px 15px" title="Open past Emails in this thread">
                   <div class="calculatedtime">
                        {{ parent.created.timestamp }}
                   </div>
		   {% if parent.fk_sender.username == user.username %}
			<span class="name" style="color:#888">
	                   You Sent &nbsp;
			</span>
		   {% else %}
			<span class="name">
  		           {{ parent.fk_sender }} &nbsp; 
			</span>
		   {% endif %}
                   <span class="fas fa-arrow-{% if not parent.fk_sender.username == user.username %}right{% else %}right yousent{% endif %}" data-toggle="tooltip" data-placement="bottom" style="margin-left:-3px" title="ID: {{ parent.id }} --- ROUTE ID: {{ parent.routeid }}"></span>&nbsp;
		   {% if parent.attachments %}<span class="fas fa-paperclip" title="This message has an Attachement!" style="float:right; color:crimson; margin:inherit"></span>{% endif %}
                   <div class="subject">
                        {% autoescape off %}{{ parent.content|truncatechars:60 }}{% endautoescape %}
                   </div>
                </h4>
             </div>
             <div id="accordian-parentID-{{ parent.id }}" class="panel-collapse {% if parent.read %}collapse{% else %}in{% endif %}">
                 <div class="panel-body" style="padding-top:20px">
		
                 <div style="padding:5px 12px;font-size: 12px;margin-top:-10px"
                     title="Sent by ({{ parent.fk_sender }}) on this date: &nbsp; {{ parent.created.timestamp }}">
		    {% if not parent.read %}<p style="color:#f55; margin:5px 0"><b>HERE IS A MESSAGE YOU MISSED</b> <i>(This will now be marked as READ)</i></p>{% endif %}
                    <div style="float:right; margin: -1px 12px 0 0">
                        <span class="far fa-calendar-alt" data-toggle="tooltip" data-placement="bottom"></span>&nbsp;
                        <span class="calculatedtime" style="margin-top:0;font-style: italic;">{{ parent.created.timestamp }}</span>
                    </div>
                    <span class="fas fa-user" data-toggle="tooltip" data-placement="bottom"></span>&nbsp;
                        <span style="padding-right: 7px">SENT FROM: </span>
                        <strong>
                                {% if parent.fk_sender.username == user.username %} You 
                                        {% if not parent.fk_sender.first_name or not parent.fk_sender.last_name %}
                                            ({{ parent.fk_sender }})
                                        {% else %}
                                            ({{ parent.fk_sender.first_name|capfirst }} {{ parent.fk_sender.last_name|capfirst }})
                                        {% endif %}
                                {% else %}
                                        {% if not parent.fk_sender.first_name or not parent.fk_sender.last_name %}
                                            {{ parent.fk_sender }}
                                        {% else %}
                                            {{ parent.fk_sender.first_name|capfirst }} {{ parent.fk_sender.last_name|capfirst }}
                                        {% endif %}
                                {% endif %}
                        </strong>
		    <hr />
                 </div>

                    {% autoescape off %}
                       {{ parent.content }}
                    {% endautoescape %}

                {% if parent.attachments %}
		    <br />
                    <h4 style="margin: 20px 15px 10px;">Attachment(s):</h4>
                    <ul class="attachments-loop" style="list-style:none">
                        {% for attachment in parent.attachments %}
                            {% if attachment.filename is attachment.image %}
                                <li style="padding:0">
                                    <a href="{% url 'download' attachment.id %}" class="btn btn-info">
                                        <span class="fas fa-paperclip"></span> {{ attachment.filename }}
                                        <img src="{% url 'download' attachment.id %}{{ attachment.filename }}" alt=""
                                             style="width:100%;height:16px"/>
                                    </a>
                                </li>
                            {% else %}
                                <li style="padding:0">
                                    <a href="{% url 'download' attachment.id %}" class="btn btn-info">
                                        <span class="fas fa-paperclip"></span> {{ attachment.filename }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
		{% if not parent.id %}<i style="font-size: 11px;float:right;margin: 0 12px;color:#5bc0de">[First Email in the Thread]</i>{% endif %}
                 </div>
             </div>
    </div>
  {% endfor %}
</div><!--/END Accordian -->


                <div style="padding:5px 12px;font-size: 12px;"
                     title="Sent by ({{ mail.fk_sender }}) on this date: &nbsp; {{ mail.created }}">
                    <div style="float:right; margin: -1px 12px 0 0">
                        <span class="far fa-calendar-alt" data-toggle="tooltip" data-placement="bottom"></span>&nbsp;
                        <span class="calculatedtime" style="margin-top:0;font-style: italic;">{{ mail.timestamp }}</span>
                    </div>
                    <span class="fas fa-user" data-toggle="tooltip" data-placement="bottom"></span>&nbsp; 
			<span style="padding-right: 7px">SENT FROM: </span>
			<strong> 
				{% if mail.fk_sender.username == user.username %}YOU 
                                	{% if not mail.fk_sender.first_name or not mail.fk_sender.last_name %}
	                                    ({{ mail.fk_sender }})
        	                        {% else %}
                	                    ({{ mail.fk_sender.first_name|capfirst }} {{ mail.fk_sender.last_name|capfirst }})
                        	        {% endif %}
				{% else %}
                                        {% if not mail.fk_sender.first_name or not mail.fk_sender.last_name %}
                                            {{ mail.fk_sender }}
                                        {% else %}
                                            {{ mail.fk_sender.first_name|capfirst }} {{ mail.fk_sender.last_name|capfirst }}
                                        {% endif %}
				{% endif %}
			</strong>
                </div>
                <div style="padding:12px 22px 12px 12px; margin-top:-18px;font-size: 12px;" title="Sent to you ({{ mail.to }})">
                    <span class="fas fa-user" data-toggle="tooltip" data-placement="bottom"></span>&nbsp;
                    <div style="display: inline" title="Sent to you: ({{ mail.to }})">
                        <span style="padding-right: 27px">SENT TO: </span> 
			<strong>
				{% if mail.to == user.username %}YOU
                                	{% if not mail.to.first_name or not mail.to.last_name %}
	                                    ({{ mail.to }})
	                                {% else %}
	                                    ({{ mail.to.first_name|capfirst }} {{ mail.to.last_name|capfirst }})
	                                {% endif %}
				{% else %}
                                        {% if not mail.to.first_name or not mail.to.last_name %}
                                            {{ mail.to }}
                                        {% else %}
                                            {{ mail.to.first_name|capfirst }} {{ mail.to.last_name|capfirst }}
                                        {% endif %}
				{% endif %}
			</strong>
                    </div>
                    <hr/>
                </div>

                <div class="mail-content">
                        {% autoescape off %}
                            {{ mail.content }}
                        {% endautoescape %}
                </div>
                <br/>
                {% if attachments %}
                    <h4 style="margin: 20px 15px 10px;">Attachment(s):</h4>
                    <ul class="attachments-loop" style="list-style:none">
                        {% for attachment in attachments %}
                            {% if attachment.filename is attachment.image %}
                                <li style="padding:0">
                                    <a href="{% url 'download' attachment.id %}" class="btn btn-info">
                                        <span class="fas fa-paperclip"></span> {{ attachment.filename }}
                                        <img src="{% url 'download' attachment.id %}{{ attachment.filename }}" alt=""
                                             style="width:100%;height:16px"/>
                                    </a>
                                </li>
                            {% else %}
                                <li style="padding:0">
                                    <a href="{% url 'download' attachment.id %}" class="btn btn-info">
                                        <span class="fas fa-paperclip"></span> {{ attachment.filename }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
		<!-- TYPE YOUR REPLY -->

                <div class="container-fluid2" style="padding: 20px 15px 0;">
                    <div class="panel panel-info">
                        <div class="panel-heading" style=" padding: 10px; margin-bottom: 10px;">
			    <a onclick="window.open('http://www.wiris.com/editor/demo/en/mathml-latex','','width=966,height=800,left='+(screen.availWidth/2-400)+',top='+(screen.availHeight/2-300)+'');return false;"
                             href="http://www.wiris.com/editor/demo/en/mathml-latex" target="_blank"
                             class="btn2 btn-warning2" style="float:right;font-size:11px" title="(opens a new window)">
			     Math Tool Helper
			    </a>
                            <span style="font-size: 11px; font-style: italic; padding:8px 8px 0">REPLY TO: &nbsp;
                                {% if not mail.fk_sender.first_name or not mail.fk_sender.last_name %}
                                    {{ mail.fk_sender }}
                                {% else %}
                                    {{ mail.fk_sender.first_name|capfirst }} {{ mail.fk_sender.last_name|capfirst }}
                                {% endif %}
                            </span>
                        </div>
                        <div class="panel-body" style="background: #f7feff; padding: 12px 25px; margin: -10px 0 0;">
                            <div class="row">
                                <form action='.' method="post" id="sendReply">
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {% csrf_token %}
                                        {{ form.content }}
                                <div id="attachmentsDiv" class="noSNnumber"></div>
                                </form>
                            </div>
                            <div class="col-lg-12 nopadding compose" style="padding:12px 0 0 0">
                                <div class="col-sm-6" style="border-right: 1px dotted #ccc;margin-right: -1px;">
                                    <div class="container">
                                        <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data"
                                              novalidate class="box has-advanced-upload">
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                            {% csrf_token %}
                                            <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Select files...</span>
                                            <input id="fileupload" type="file" name="attachment" multiple/>
                                            </span>
                                        </form>
                                     <div id="progress" class="progress">
                                         <div class="progress-bar progress-bar-success"></div>
                                     </div>


                                    </div>
                                </div>
                                <div class="col-sm-6" style="text-align: right;border-left: 1px dotted #ccc">
                                    <div style="text-align: left;">
                                        <h4>Attachment(s):</h4>
                                        <ul id="attachmentsDisplayDiv" style="list-style:none; padding:0; color:green"></ul>
                                    </div>
				</div>
			    </div>
			</div>
                        <div style="float: right; margin: 15px;"><button class="btn btn-success sendmailbutton" style="width: 210px;">
                                        <span class="far fa-paper-plane" data-toggle="tooltip"
                                              data-placement="bottom"></span>&nbsp;&nbsp;&nbsp;
                                        Send Message
                        </button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </form>

    <!--  ### CKEditor CSS & JS ### -->
{#	<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>#}
{#    <script src="/static/ckeditor/ckeditor.js"></script>#}
{#    <script src="/static/ckeditor_full/ckeditor.js"></script>#}
<script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
{#<script src="//cdn.ckeditor.com/4.11.2/full/ckeditor.js"></script>#}
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
 <script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static 'js/jquery.fileupload.js' %}"></script>
<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    var url = '{% url 'upload'  %}';
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        start: function(e) {
            $('#progress').css('display','inherit');
            $('.sendmailbutton').prop('disabled',true);
            $('.progress-bar').text("Uploading");
            $('.fileinput-button').css('display','none');


        },
        done: function (e, data) {
            console.log(data);
            var html = $('#attachmentsDisplayDiv').html();
            $('#attachmentsDisplayDiv').html(html + '<li id="attachment-id-' + data.result.attachment_id + '" style="padding:6px 0" title="Successfully attached ' + data.filename +'"><b><span class="glyphicon glyphicon-paperclip"></span> ' + data.result.filename +'</b></li>\n');
			html = $('#attachmentsDiv').html();
			$('#attachmentsDiv').html(html + '<input type="hidden" id="id_attachments" name="attachments" value="'+ data.result.attachment_id +'">');
            $.each(data.result, function (index, file) {



            });
            $('#progress').css('display','none');
            $('.fileinput-button').css('display','initial');
            $('.sendmailbutton').prop('disabled',false);

        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);

            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
            $('.progress-bar').text("Uploading "+progress+"%");

        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>

<script>

$(".sendmailbutton").click(function() {
    $("#sendReply").submit();
});

CKEDITOR.replace( 'id_content', {
    customConfig: '/static/ckeditor/config.js'
});
CKEDITOR.config.contentsCss = '/static/ckeditor/fix.css' ;
	

$('#accordian-expand-all').on('click', function(){
       if($(this).text() == 'Hide All {{ parentlist|length }} Emails'){
           $(this).text('Show All {{ parentlist|length }} Emails');
	   $('.panel-collapse').collapse('hide');
       } else {
           $(this).text('Hide All {{ parentlist|length }} Emails');
	   $('.panel-collapse').collapse('show');
       }
});
$('.messageNOTread').collapse('show');




//setTimeout(
//  function() 
//  {
//    $('.panel-collapse').first().collapse('toggle').addclass('lastAccord');
//  }, 50);


if (navigator.userAgent.search("Firefox") >= 0) {
    console.log("Jups, is FireFox");
} else { 
    console.log("Nope, not FireFox");   
}

</script>

<link href="{% static '/js/multiple-select.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/jquery.fileupload.css' %}" rel="stylesheet">
<style>
#accordion { margin: 4px 20px 12px 10px; opacity:.8 }
#accordion:hover,#accordion:focus { opacity:1 }
.name { width:96px }
.subject { padding: 0 12px }
.subject p { margin:0 }
.calculatedtime { float:right; font-size:10px; margin:4px 5px }
h4.parenttitle { background-color: #f5f5f5 }
h4.parenttitle:hover { cursor:pointer !important; background-color: #e7ffe7 }
h4 .fa-arrow-right { color:blue }
h4 .yousent { color:green }
.panel .collapse:first-of-type { display:block !important }
    #attachmentsDiv:empty::after{
        content: "No attachments";
        font-style: italic;
    }
    .attachments-loop li {
        display: inline-block;
    }
    .file-upload {
        display: grid;
        padding-bottom: 9px;
    }
    #id_file, .box__button2 {
        margin-bottom: 30px;
    }

    .container
    {
        width: 100%;
        max-width: 500px; /* 800 */
        text-align: center;
        margin: 0 -10px;
    }

    .container nav a
    {
        border-bottom: 2px solid #c8dadf;
        display: inline-block;
        padding: 4px 8px;
        margin: 0 5px;
    }
    .container nav a.is-selected
    {
        font-weight: 700;
        color: #39bfd3;
        border-bottom-color: currentColor;
    }
    .container nav a:not( .is-selected ):hover,
    .container nav a:not( .is-selected ):focus
    {
        border-bottom-color: #0f3c4b;
    }

</style>

    {% endblock %}

