{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block content %}

    <div class="row" style="#width: 40%; #margin: 70px auto 10px;">
    </div><!--/row-->
    <form action='.'  method="post">
                {% csrf_token %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            {% include 'global-logo.html' %}
        </div>
        <div class="col-sm-8 col-md-9">
            {% include 'global-search_and_view.html' %}
        </div>
    </div>
    <hr>
    <div class="row">

        {% include 'global-leftcoursemenu.html' %}

        <div class="col-sm-8 col-md-9 main-mail-section">
            <div class="pull-right">

            </div>
            <!-- Nav tabs -->

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">



                    <div class="compose-section-subject" title="Subject">
                        {{ mail.subject }} &nbsp; <span class="label label-default" style="font-size:11px" title="Course Section Group">{{ mail.section }}</span>
                    </div>

                    <div style="padding:12px" title="Sent by ({{ mail.fk_sender }}) on this date: &nbsp; {{ mail.created }}">
                        <div style="float:right" >
                            <span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="bottom" title="Sent from: {{ mail.fk_sender }}"></span>&nbsp;&nbsp;&nbsp;{{ mail.created }}
                        </div>
                        <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="bottom" title="Sent from: {{ mail.fk_sender }}"></span>&nbsp;&nbsp;&nbsp;{{ mail.fk_sender }}
                        <hr />
                    </div>

                    <div style="padding: 0 12px ">
                        {{ mail.content }}
                    </div>
                    <br />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 nopadding">

                                {{ form.content }}

                                <!--<textarea id="editor1" class="reply_editor"></textarea>-->
                            </div>
                        </div>
                        <br />
                        <button class="btn btn-success sendmailbutton" style="float:right;display:none">
                            <span class="glyphicon glyphicon-send" data-toggle="tooltip" data-placement="bottom"></span>&nbsp;&nbsp;&nbsp;
                            Send Message
                        </button>
                    </div>
                </div>
            </div>

            <div class="row-md-12">

            </div>
        </div>
    </div>
</div>
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

</form>


    {% endblock %}

