{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% localtime on %}
    <p>{{ currentime }}</p>
{% endlocaltime %}
{% block content %}

    <div class="row" style="#width: 40%; #margin: 70px auto 10px;">
    </div><!--/row-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            {% include 'global-logo.html' %}
        </div>
        <div class="col-sm-8 col-md-9 search-area">
            {% include 'global-search_and_nav_buttons.html' %}
        </div>
    </div>
    <hr style="border-top:1px solid #d4d4d4">
    <div class="row">

        {% include 'global-left_course_menu.html' %}

        <div class="col-sm-8 col-md-9 main-mail-section">
            <div class="pull-right">

            </div>
            <!-- Nav tabs -->

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">

                <form action='.'  method="post">
                {% csrf_token %}

                    <div class="reply-section-subject" title="Subject">
                        {{ mail.subject }} &nbsp; <span class="label label-default" style="font-size:11px" title="Course Section Group">{{ mail.section }}</span>
                    </div>

                    <div style="padding:12px" title="Sent by ({{ mail.fk_sender }}) on this date: &nbsp; {{ mail.created }}">
                        <div style="float:right; margin: 10px 5px 0 0">
                            <span class="glyphicon glyphicon-calendar" data-toggle="tooltip" data-placement="bottom" ></span>&nbsp;&nbsp; <span class="calculatedtime">{{ mail.timestamp }}</span>
                        </div>
                        <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="bottom"></span>
                        &nbsp;&nbsp; <strong>SENT FROM:</strong> {{ mail.fk_sender.first_name }} {{ mail.fk_sender.last_name }} ({{ mail.fk_sender }})
                    </div>
                    <div style="padding:12px; margin-top:-18px" title="Sent to you ({{ mail.to }})">
                        <span class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="bottom"></span>
                        &nbsp;&nbsp; <div style="display: inline-block" title="Sent to you: ({{ mail.to }})">
                        <strong>SENT TO:</strong> {{ mail.to.first_name }} {{ mail.to.last_name }} ({{ mail.to }})
                    </div>
                        <hr />
                    </div>

                    <div class="mail-content">
                        {% autoescape off %}
                            {{ mail.content }}
                        {% endautoescape %}
                    </div>
                    <br />
                    {% if message.attachments %}
                        <div class="attachements">
                            {% for attachment in message.attachments %}
                                {% if attachment.filename is attachment.image %}
                                    <span class="glyphicon glyphicon-paperclip" title="This message has an Attachement!"></span>
                                    <a href="{{ attachment.filepath }}">
                                        <img src="{{ attachment.filepath }}" alt="{{ attachment.filename }}" />
                                    </a>
                                {% else %}
                                    <span class="glyphicon glyphicon-paperclip" title="This message has an Attachement!"></span>
                                    <a href="{{ attachment.filepath }}">
                                        {{ attachment.filename }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 nopadding">
                                <hr />
                                <div style="font-size: 11px; font-style: italic; padding:8px 8px 0">REPLY TO: &nbsp; {{ mail.to.first_name }} {{ mail.to.last_name }}</div>
                                {{ form.content }}
                            </div>
                        </div>
                        <div class="row" style="margin:-2px 0 !important;">
                            <div class="col-lg-12 nopadding compose" style="text-align: center;border: 1px solid #d1d1d1; border-top: 0; border-radius: 0 0 9px 9px;">
                                <div class="col-sm-4">
                                    <span class="btn btn-info" style="max-width: 210px;">
                                        {{ form.attachment }}
                                    </span>
                                </div>
                                <div class="col-sm-4">
                                    <a href="http://www.wiris.com/editor/demo/en/mathml-latex" target="_blank" class="btn btn-warning" style="width: 210px;">Math Tool Helper</a>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-success sendmailbutton" style="width: 210px;">
                                        <span class="glyphicon glyphicon-send" data-toggle="tooltip" data-placement="bottom"></span>&nbsp;&nbsp;&nbsp;
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-md-12">

            </div>
        </div>
    </div>
</div>
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

</form>
    <!--  ### CKEditor CSS & JS ### -->
{#	<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>#}
{#    <script src="/static/ckeditor/ckeditor.js"></script>#}
{#    <script src="/static/ckeditor_full/ckeditor.js"></script>#}
    <script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script>

	CKEDITOR.replace( 'id_content', {
		customConfig: '/static/ckeditor/config.js'
	});

MathJax.Hub.Config({
  PreviewHTML: {
    scale: 200
  }
});

{#    alert("{{ mail.created|localtime }}");#}

</script>

    {% endblock %}

